
body {
  font-family:monospace;
  margin: 0;
  padding: 0;
  color: #333;
}

h1, h2, h3 {
  color: #5187be;
  text-align: center;
  margin-top: 20px;
}

section {
  padding: 20px;
  margin: 10px auto;
  max-width: 1100px;
  background: #fff;
  background-color: #dce7ef;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

section:hover {
  transform: translateY(-5px);
}

section + section {
  border-top: 2px solid #ddd;
}

section .about{
  background-image: url("https://e0.pxfuel.com/wallpapers/329/765/desktop-wallpaper-web-design-dark-developer.jpg");
  background-size: cover;
  color: white;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
  font-weight: 700;
}

p {
  line-height: 1.8;
  font-weight: 900;
}


.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px 20px;
  color: rgba(0, 0, 0, 0.175);
  background-color: rgba(0, 0, 0, 0.719);
  height: 50px;
  text-align: center;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.navbar ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.navbar li {
  margin: 5px 10px;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-size: calc(8px + 0.5vw);
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

.navbar a:hover {
  color: #ecf0f1;
}


.home {
  text-align: center;
  
  background-image: url("https://e0.pxfuel.com/wallpapers/128/627/desktop-wallpaper-information-technology-minimalist-tech.jpg");
  background-size: cover;
  background-position: center;
  color: rgb(255, 255, 255);
}
.home-component {
  padding: 150px 20px;
}

.home img {
  width: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
  transition: transform 0.3s ease-in-out;
}

.home img:hover {
  transform: scale(1.1);
}

.home h1 {
  font-size: 2.5em;
  margin-bottom: 100px;
}

.home p {
  font-size: 1.1em;
  margin: 10px 0;
}


.professional-summary {
  background-color: #ecf0f1;
}

.professional-summary p {
  font-size: 1.1em;
}


.technologies {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  background-image: url("https://t4.ftcdn.net/jpg/02/00/68/69/360_F_200686978_xUZgMeJv0Rj8a98jbfeHci8slCU8RdHF.jpg");
  background-size: cover;
}

.technologies li {
  background-color: #75f3a943;
  color: white;
  padding: 10px 20px;
  margin: 8px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease-in-out;
}

.technologies li:hover {
  background-color: #27ae60;
}

section .projects{
  background-image: url("https://images.unsplash.com/photo-1572648151618-d54ad5890a57?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwcm9maWxlLXBhZ2V8MTF8fHxlbnwwfHx8fHw%3D");
  background-size: cover;
  background-position: right;
  color: white;
}

.projects h3 {
  color: #c2dcef;
  border-bottom: 3px double #2980b9;
  display: inline-block;
  padding-bottom: 5px;
}

.projects ul {
  padding-left: 20px;
}

.projects li {
  margin-bottom: 15px;
}

section .personal-projects{
  background-image: url("https://i.pinimg.com/736x/1e/25/d3/1e25d302451b2b45bb1250293ae0b4ce.jpg");
  background-size: cover;
  color: white;
}

.personal-projects h3{
  color: #c2dcef;
  border-bottom: 3px double #2980b9;
  display: inline-block;
  padding-bottom: 5px;
}

section .academic-projects{
  background-image: url("https://e0.pxfuel.com/wallpapers/329/765/desktop-wallpaper-web-design-dark-developer.jpg");
  background-size: cover;
  color: rgb(255, 255, 255);
}


.academic-projects h3 {
  color: #c2dcef;
  border-bottom: 3px double #2980b9;
  display: inline-block;
  padding-bottom: 5px;
}

section .education{
  background-image: url("https://c1.wallpaperflare.com/preview/167/210/341/book-dark-page-open.jpg");
  background-size:auto;
  color: white;
}


.education h3 {
  color: #c2dcef;
  border-bottom: 3px double #2980b9;
  display: inline-block;
  padding-bottom: 5px;
}


@media (max-width: 768px) {
  section {
      margin: 10px;
      padding: 15px;
  }

  h1, h2, h3 {
      font-size: 1.5em;
  }

  .navbar ul {
      flex-direction: column;
      align-items: center;
  }

  .navbar li {
      margin: 10px 0;
  }

 

  .home h1 {
      font-size: 2em;
  }

  .home img {
      width: 120px;
  }

  .technologies li {
      padding: 8px 15px;
      margin: 8px;
  }
}

@media (max-width: 480px) {
  .navbar ul {
      flex-direction: column;
  }

  .navbar li {
      margin: 5px 0;
  }

  section {
      padding: 10px;
  }

  h1, h2, h3 {
      font-size: 1.2em;
  }

  .home h1 {
      font-size: 1.8em;
  }

  .home img {
      width: 100px;
  }

  .technologies li {
      padding: 6px 12px;
  }
}
