
body {
  font-family:monospace;
  margin: 0;
  padding: 0;
  color: #333;
  background-color: black;
}
html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  /* overflow: hidden; Prevent unnecessary scrolling */
  overflow-x: hidden; /* Prevent horizontal scrolling */
  
}

.App {
  min-height: 100vh; /* Ensure the App takes at least the full viewport height */
  position: relative;
}

h1, h2, h3 {
  color: #5187be;
  text-align: center;
  margin-top: 20px; 
}
h2{
  font-size:40px;
}

section {
  padding: 10px;
  margin: 10px auto;
  max-width: 1100px;
  
  /* background: #fff;
  background-color: #dce7ef; */
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

section:hover {
  transform: translateY(-5px);
}

/* section + section {
  border-top: 2px solid #ddd;
} */

section .about{
  /* background-image: url("./assets/about.png"); */
  color: white;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
  font-weight: 700;
}

p {
  line-height: 1.8;
  font-weight: 900;
}


.navbar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 10px 20px;
  color: rgba(0, 0, 0, 0.175);
  background-color: rgba(0, 0, 0, 0.719);
  height: 50px;
  text-align: center;
  position: fixed;
  width: -webkit-fill-available;
  top: 0;
  z-index: 1000;
}

.navbar ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.navbar li {
  margin: 5px 10px;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-size: calc(8px + 0.5vw);
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

.navbar a:hover {
  color: #ecf0f1;
}


.home {
  text-align: center;
  
  /* background-image: url("./assets/home.png"); */
  background-size: cover;
  background-position: center;
  color: rgb(255, 255, 255);
}
.home-component {
  padding: 120px 20px;
}

.home img {
  width: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
  transition: transform 0.3s ease-in-out;
}

.home img:hover {
  transform: scale(1.1);
}

.home h1 {
  font-size: 4.5em;
  margin: 0px;
}

.home p {
  font-size: 1.1em;
  margin: 10px 0;
}

.para span {
  display: block;
  transform: translateX(-100%);
  opacity: 0;
  animation: slideInLine 20.5s ease-out forwards; /* Total animation duration including the pause */
  animation-iteration-count: infinite; /* Infinite loop */
}

/* Animating each line with delays */
.para span:nth-child(1) {
  animation-delay: 0.2s;
}

.para span:nth-child(2) {
  animation-delay: 0.4s;
}

.para span:nth-child(3) {
  animation-delay: 0.6s;
}

.para span:nth-child(4) { /* New child added */
  animation-delay: 0.8s;
}

/* Hover effect to cancel animation and show full paragraph */
.para:hover span {
  animation: none; /* Cancel ongoing animation */
  transform: translateX(0); /* Reset the transform */
  opacity: 1; /* Show full opacity */
}

@keyframes slideInLine {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  14% {
    transform: translateX(0);
    opacity: 1;
  }
  57% {
    transform: translateX(0); /* Maintain position */
    opacity: 1; /* Stay visible */
  }
  100% {
    transform: translateX(-100%); /* Reset for the loop */
    opacity: 0; /* Fade out */
  }
}

.professional-summary {
  background-color: #ecf0f1;
}

.professional-summary p {
  font-size: 1.1em;
}


.technologies {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

.technologies li {
  background-color: #75f3a943;
  color: white;
  padding: 10px 20px;
  margin: 8px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease-in-out;
}

.technologies li:hover {
  background-color: #27ae60;
}

section .projects{
 
  color: white;
}

.projects h3 {
  color: #c2dcef;
  border-bottom: 3px double #2980b9;
  display: inline-block;
  padding-bottom: 5px;
}

.projects li {
  margin-bottom: 15px;
}
.lists{
  border: 1px solid #2980b9;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.352);
  padding: 30px;
}

section .personal-projects{
 
  color: white;
}

.personal-projects h3{
  color: #c2dcef;
  border-bottom: 3px double #2980b9;
  display: inline-block;
  padding-bottom: 5px;
}

section .academic-projects{

  color: rgb(255, 255, 255);
}


.academic-projects h3 {
  color: #c2dcef;
  border-bottom: 3px double #2980b9;
  display: inline-block;
  padding-bottom: 5px;
}

section .education{
  
  color: white;
}


.education h3 {
  color: #c2dcef;
  border-bottom: 3px double #2980b9;
  display: inline-block;
  padding-bottom: 5px;
}


@media (max-width: 768px) {
  section {
      margin: 10px;
      padding: 15px;
  }

  h1, h2, h3 {
      font-size: 1.5em;
  }

  .navbar ul {
      flex-direction: column;
      align-items: center;
  }

  .navbar li {
      margin: 10px 0;
  }

 

  .home h1 {
      font-size: 2em;
  }

  .home img {
      width: 120px;
  }

  .technologies li {
      padding: 8px 15px;
      margin: 8px;
  }
}

@media (max-width: 480px) {
  .navbar ul {
      flex-direction: column;
  }

  .navbar li {
      margin: 5px 0;
  }

  section {
      padding: 10px;
  }

  h1, h2, h3 {
      font-size: 1.2em;
  }

  .home h1 {
      font-size: 1.8em;
  }

  .home img {
      width: 100px;
  }

  .technologies li {
      padding: 6px 12px;
  }
}
